.nav_logo-img {

    width: 100% !important;
}

.main-video-container {
    border-radius: 20px;
    height: 70vh;
}

.section_hp-hero {
    /* ... existing styles ... */
    box-shadow: inset 0 -200px 100px -100px rgba(0, 0, 0, 0.5);
}

.members-container {
    margin: 0 auto
}

.members-container .t-label-1-rg {
    text-align: center;
}


.section_hiw,
.section_hp-problem,
.section_hp-about,
.section_single-news-rest,
.footer {
    z-index: -1 !important;
}

.padding-global-diff {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.hero-hp-title {
    font-weight: 900;
}

.team-container {
    border: 1px solid white;
    height:80vh;
    width: 100%;
}

.swiper2 {
    width: 600px;
    height: 300px;
  }

  /* team mebmer */

  .team-container-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    border: 1px solid white;
  }

  .team-wrapper {
    border: 1px solid red;
    height: 40vh;
    background: url(/assets/pictures/member1.png);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }

  .label-top {
    text-align: center;
    padding-top: 3px;
  }

  .team-label-container {
    background: #000;
    opacity: 0.9;
    height: 100%;
    position: absolute;
    bottom: -90%;
    left: 0;
    right: 0;
    transition: bottom 0.3s ease;
    z-index: 2;
  }

  /* Add hover effect */
  .team-wrapper:hover .team-label-container {
    bottom: 0;
  }

  /* team mebmer */






@media screen and (max-width: 768px) {

    .nav_wrapper {
        width: 90vw !important;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
    }

    .btn-menu_component {
        position: relative;
        top: 0rem;
    }

    .padding-global {
        overflow-x: hidden !important;
    }

    .padding-global-diff {
        padding-left: 5%;
        padding-right: 5%;
    }

    .hiw_cards-grid {
        display: flex;
        flex-direction: column;
    }

    .hero-small-text {
        font-size:23px;
    }

    .team-container-grid {
        grid-template-columns: repeat(2, 1fr);
    }



}