.nav_logo-img {

    width: 100% !important;
}

.page-wrapper.is-hp {
    z-index: unset !important;
}

.main-video-container {
    border-radius: 20px;
    height: 70vh;
}

.section_hp-hero {
    /* ... existing styles ... */
    box-shadow: inset 0 -200px 100px -100px rgba(0, 0, 0, 0.5);
}

.members-container {
    margin: 0 auto
}

.members-container .t-label-1-rg {
    text-align: center;
}


/* .section_hiw,
.section_hp-problem,
.section_hp-about,
.section_single-news-rest {
    z-index: -1 !important;
} */

.padding-global-diff {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.hero-hp-title {
    font-weight: 900;
}

.team-container {
    border: 1px solid white;
    height: 80vh;
    width: 100%;
}

.swiper2 {
    width: 600px;
    height: 300px;
}

/* team mebmer */

.team-container-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.team-wrapper {
    height: 40vh;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 2px 2px 9px 0px #ea992950;
}

.team-wrapper:nth-child(1) {
    background: url(/assets/pictures/ceo.png);
    background-size: cover;
    background-position: center;
}

.team-wrapper:nth-child(2) {
    background: url(/assets/pictures/cto.png);
    background-size: cover;
    background-position: center;
}

.team-wrapper:nth-child(3) {
    background: url(/assets/pictures/cmo.png);
    background-size: cover;
    background-position: center;
}

.team-wrapper:nth-child(4) {
    background: url(/assets/pictures/chro.png);
    background-size: cover;
    background-position: center;
}

.label-top {
    text-align: center;
    padding-top: 3px;
}

.team-label-container {
    background: #000;
    opacity: 0.9;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    transition: bottom 0.3s ease;
    z-index: 2;
}

/* Add hover effect */
.team-wrapper:hover .team-label-container {
    bottom: 0;
}

/* team mebmer */

.our-mision_icon.w-embed {
    width: 40px;
}

.overlay-img-cont {
    position: absolute;
    top: 18px;
    left: 0%;
    width: 100%;
    height: 30vh;
    background: black;
}

.overlay-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer-logo {
    filter: invert(0);
    width: 40px;
    height: 40px;
}

.grey-body-text {
    color: #b7b7b7
}

.label-detail {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-bottom: 1px solid white;
}

.team-cont-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 100%;
    background: rgba(0, 0, 0, 0.893);
    z-index: 1000;
    opacity: 1;
    scale: 1;
    transition: all 0.3s ease;

}

.team-cont-popup-close {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 50px;
    padding: 10px 20px;
}

.team-cont-popup-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.advisor-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.advisor-name {
    font-weight: 900;
    font-size: 24px;
}

.advisor-title {
    font-size: 18px;
    color: #b7b7b7;
}

.advisor-text-container {
    text-align: center;
}


/* is pc */
@media screen and (min-width: 768px) {
    .team-label-container {
        bottom: -90%;
    }



    .footer_grid-col {
        height: 40vh;
    }

    .timeline-text {
        font-size: 1rem;
    }

    .team-cont-popup-close {
        position: absolute;
        bottom: 80%;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        cursor: pointer;
        border: 1px solid white;
        border-radius: 50px;
        padding: 10px 20px;
    }

    .advisor-name {
        font-weight: 900;
        font-size: 36px;
    }

}





@media screen and (max-width: 768px) {

    .nav_wrapper {
        width: 90vw !important;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
    }

    .btn-menu_component {
        position: relative;
        top: 0rem;
    }

    .padding-global {
        overflow-x: hidden !important;
    }

    .padding-global-diff {
        padding-left: 5%;
        padding-right: 5%;
    }

    .hiw_cards-grid {
        display: flex;
        flex-direction: column;
    }

    .hero-small-text {
        font-size: 23px;
    }

    .team-container-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .overlay-img-cont {
        height: 95px;
    }

    .team-wrapper {
        height: 25vh;
    }

    .team-label-container {
        bottom: -85%;
    }

    .t-decorative-2-rg {
        line-height: 34px;
        color: #b7b7b7
    }

    .advisor-wrapper {
        flex-direction: column;
        gap: 20px;
    }

    .company-text {
        font-size: 1.5rem;
    }

    .company-text2 {
        font-size: 1.5rem;
        line-height: 30px;
    }



}