.nav_logo-img {

    width: 100% !important;
}

.main-video-container {
    border-radius: 20px;
    height: 70vh;
}

.section_hp-hero {
    /* ... existing styles ... */
    box-shadow: inset 0 -200px 100px -100px rgba(0, 0, 0, 0.5);
}

.members-container {
    margin: 0 auto
}

.members-container .t-label-1-rg {
    text-align: center;
}



@media screen and (max-width: 768px) {

    .nav_wrapper {
        width: 90vw !important;
    }

    body * {
        overflow-x: hidden !important;
    }
}